{% extends "skeletons/base.html" %}
{% block title %}First! Twitch app{% endblock %}

{% block header %}
    <p>Be the first person to arrive in your favorite Twitch streamer's chat and win internet points!</p>
{% endblock %}

{% block body %}
    <section>
        <h2>Most popular streamers</h2>
        <table class="streamer-leaderboard">
            <thead>
                <tr>
                    <th>Twitch streamer</th>
                    <th>Past month</th>
                </tr>
            </thead>
            <tbody>
                {% for (streamer_id, firsts) in firsts_per_streamer %}
                    <tr>
                        <th><a href="/stream/{{ streamer_id }}">{{ id_to_display_name(streamer_id) }}</a></th>
                        <td>{{ firsts }} firsts</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {% if not session.account_id %}
        <section>
            <h2>Register your stream</h2>
            <p>Are you a Twitch streamer? Add <i>First!</i> to your own stream:</p>
            <form method="POST" action="{{ url_for('log_in') }}">
                <button>Add First! to Twitch</button>
            </form>
        </section>
    {% endif %}
{% endblock %}
