{% extends "skeletons/base.html" %}
{% block title %}Manage your First! App{% endblock %}

{% block header %}
    <p>First! account manager</p>
{% endblock %}

{% block body %}
    <form action="{{ url_for('manage_post') }}" method="POST">
        <label for="reward">Select a Reward for First!</label>
        <select name="reward" id="reward">
            <option value="">(none)</option>
            {% for (reward_id, name) in rewards %}
            <option value={{ reward_id }}
                {% if reward_id == account_db.get_account_reward_id(session.account_id) %}
                    selected
                {% endif %}
            >{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
    </form>

    <hr>

    <form action="{{ url_for('create_first_reward') }}" method="POST">
        <p>Have First! create your <em>first</em> channel point reward automatically:</p>
        <label>Cost (channel points) <input type="number" min="1" max="{{ 2**63 - 1 }}" name="cost" value="10"></label>
        <input type="submit" value="Create reward" />
    </form>
{% endblock %}
