{% extends "skeletons/base.html" %}
{% block title %}Manage your First! App{% endblock %}

{% block header %}
    <p>First! account manager</p>
{% endblock %}

{% block body %}
    <form action="{{ url_for('manage_post') }}" method="POST">
        <label for="reward">Select a Reward for First!</label>
        <select name="reward" id="reward">
            <option value="">(none)</option>
            {% for (reward_id, name) in rewards %}
            <option value={{ reward_id }}
                {% if reward_id == account_db.get_account_reward_id(session.account_id) %}
                    selected
                {% endif %}
            >{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
